In [1]:
# apply() : 각 컬럼마다 수행, applymap() : 각 요소마다 적용

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('data/시간별 공급량_서기환.csv', encoding = 'cp949')

In [4]:
df

                       time 구분       공급량
0       2013-01-01 01:00:00  A  2497.129
1       2013-01-01 02:00:00  A  2363.265
2       2013-01-01 03:00:00  A  2258.505
3       2013-01-01 04:00:00  A  2243.969
4       2013-01-01 05:00:00  A  2344.105
...                     ... ..       ...
368083  2018-12-31 20:00:00  H   681.033
368084  2018-12-31 21:00:00  H   669.961
368085  2018-12-31 22:00:00  H   657.941
368086  2018-12-31 23:00:00  H   610.953
368087  2019-01-01 00:00:00  H   560.896

[368088 rows x 3 columns]

In [5]:
df.describe()

                 공급량
count  368088.000000
mean      948.100037
std       927.211578
min         1.378000
25%       221.973000
50%       637.014000
75%      1398.919000
max     11593.617000

In [6]:
print(df['구분'].unique())

['A' 'B' 'C' 'D' 'E' 'G' 'H']

In [7]:
print(df.groupby('구분')['공급량'].mean())

구분
A    1167.014483
B     958.564621
C     131.585481
D     664.626452
E    1395.356673
G    2070.685900
H     248.866646
Name: 공급량, dtype: float64

In [8]:
mygrouping = df.groupby('구분')
print(type(mygrouping))

print(mygrouping) # 메모리 주소값 출력

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000279442F2460>

In [9]:
grp_demand = mygrouping['공급량']
print(type(grp_demand))

<class 'pandas.core.groupby.generic.SeriesGroupBy'>

In [10]:
mean_demand = grp_demand.mean()
print(mean_demand)

구분
A    1167.014483
B     958.564621
C     131.585481
D     664.626452
E    1395.356673
G    2070.685900
H     248.866646
Name: 공급량, dtype: float64

# 시작

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
plt.rc('font', family = 'Malgun Gothic')
cnt, PNG, UNDERBAR = 0, '.png', '_'
CHART_NAME = '시간별 가스 공급량'
filename = 'data/시간별 공급량_서기환.csv'

In [13]:
data = pd.read_csv(filename, encoding = 'cp949')

In [14]:
print(data.columns)

Index(['time', '구분', '공급량'], dtype='object')

In [15]:
data

                       time 구분       공급량
0       2013-01-01 01:00:00  A  2497.129
1       2013-01-01 02:00:00  A  2363.265
2       2013-01-01 03:00:00  A  2258.505
3       2013-01-01 04:00:00  A  2243.969
4       2013-01-01 05:00:00  A  2344.105
...                     ... ..       ...
368083  2018-12-31 20:00:00  H   681.033
368084  2018-12-31 21:00:00  H   669.961
368085  2018-12-31 22:00:00  H   657.941
368086  2018-12-31 23:00:00  H   610.953
368087  2019-01-01 00:00:00  H   560.896

[368088 rows x 3 columns]

In [16]:
data['구분'].value_counts()

E    52584
B    52584
D    52584
H    52584
C    52584
A    52584
G    52584
Name: 구분, dtype: int64

In [17]:
data1 = data.iloc[0:52584]

In [18]:
data1

                      time 구분       공급량
0      2013-01-01 01:00:00  A  2497.129
1      2013-01-01 02:00:00  A  2363.265
2      2013-01-01 03:00:00  A  2258.505
3      2013-01-01 04:00:00  A  2243.969
4      2013-01-01 05:00:00  A  2344.105
...                    ... ..       ...
52579  2018-12-31 20:00:00  A  3040.868
52580  2018-12-31 21:00:00  A  2973.577
52581  2018-12-31 22:00:00  A  2840.272
52582  2018-12-31 23:00:00  A  2692.385
52583  2019-01-01 00:00:00  A  2583.340

[52584 rows x 3 columns]

In [19]:
chartdata = data1['공급량']

In [20]:
print(chartdata)

0        2497.129
1        2363.265
2        2258.505
3        2243.969
4        2344.105
           ...
52579    3040.868
52580    2973.577
52581    2840.272
52582    2692.385
52583    2583.340
Name: 공급량, Length: 52584, dtype: float64

In [21]:
import seaborn as sns

In [22]:
Firm = df['구분'].unique() 
Firm.sort() # array를 list로 바꾸기
# Firm = sorted(Firm)
print(type(Firm), Firm)

<class 'numpy.ndarray'> ['A' 'B' 'C' 'D' 'E' 'G' 'H']

In [23]:
for i in Firm:
    ( data_% = df.query("구분 == %") ), % Firm

SyntaxError: invalid syntax (<ipython-input-23-01543d1679c0>, line 2)

In [25]:
d = []
for x in Firm:
    d["data_{0}".format(x)] = df.query("구분 == {0}").format(x)

NotImplementedError: 'Set' nodes are not implemented

In [ ]:
review_categories = ["beauty", "pet"]
reviews = {}

for review in review_categories:
     df_name = review + '_reviews' # the name for the dataframe
     filename = "D:\\Library\\reviews_{}.json".format(review)

     reviews[df_name] = pd.read_json(path_or_buf=filename, lines=True)

In [29]:
data_A = df.query("구분 == 'A'")
data_A

                      time 구분       공급량
0      2013-01-01 01:00:00  A  2497.129
1      2013-01-01 02:00:00  A  2363.265
2      2013-01-01 03:00:00  A  2258.505
3      2013-01-01 04:00:00  A  2243.969
4      2013-01-01 05:00:00  A  2344.105
...                    ... ..       ...
52579  2018-12-31 20:00:00  A  3040.868
52580  2018-12-31 21:00:00  A  2973.577
52581  2018-12-31 22:00:00  A  2840.272
52582  2018-12-31 23:00:00  A  2692.385
52583  2019-01-01 00:00:00  A  2583.340

[52584 rows x 3 columns]

In [42]:
firms = []

for x in Firm:
    df_name = 'data_{0}'.format(x) # the name for the dataframe
    print(df_name)
    df_name = df.query("구분 == '{0}'".format(x))

data_A
data_B
data_C
data_D
data_E
data_G
data_H

In [47]:
print(data_H)

NameError: name 'data_H' is not defined

In [48]:
x = 'B'
df_name = df.query("구분 == '{0}'".format(x))

In [49]:
df_name

                       time 구분       공급량
52584   2013-01-01 01:00:00  B  2169.093
52585   2013-01-01 02:00:00  B  2051.733
52586   2013-01-01 03:00:00  B  1923.253
52587   2013-01-01 04:00:00  B  1927.253
52588   2013-01-01 05:00:00  B  2047.333
...                     ... ..       ...
105163  2018-12-31 20:00:00  B  2668.688
105164  2018-12-31 21:00:00  B  2606.681
105165  2018-12-31 22:00:00  B  2540.169
105166  2018-12-31 23:00:00  B  2407.945
105167  2019-01-01 00:00:00  B  2290.154

[52584 rows x 3 columns]

In [64]:
firms = {}

for x in Firm:
    df_name = 'data_{0}'.format(x)
    a = df.query("구분 == '{0}'".format(x))

#### 목표 : data 프레임을 지역별, 연도별로 잘라서 1. 같은 지역의 연도별 그래프 비교, 2. 같은 연도의 지역별 데이터 비교 => 특징 추출