In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('data/HOME_전력거래_정산단가_연료원별.csv', encoding = 'cp949')

In [3]:
df.head(3)

,기간,지역,원자력,유연탄,무연탄,유류,LNG,양수,신재생,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,기타,합계
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,연료전지,석탄가스화,태양,풍력,수력,해양,바이오,폐기물,NaN,NaN
1,2021/09,합계,32.740077,94.728006,115.703868,213.888207,125.427094,130.291434,96.7323837,97.0709028,98.7403649,101.3614549,109.2927563,93.3066187,150.9736834,0,100.621055,88.371779
2,2021/08,합계,40.967125,99.643992,109.687386,532.428065,141.931066,163.840472,92.6850495,92.7576511,97.9136241,100.6974973,114.3688235,91.6457939,156.942158,0,98.206236,98.448852

In [4]:
df.columns

Index(['기간', '지역', '원자력', '유연탄', '무연탄', '유류', 'LNG', '양수', '신재생', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', '기타', '합계'],
      dtype='object')

In [5]:
df.iloc[0]

기간               NaN
지역               NaN
원자력              NaN
유연탄              NaN
무연탄              NaN
유류               NaN
LNG              NaN
양수               NaN
신재생             연료전지
Unnamed: 9     석탄가스화
Unnamed: 10       태양
Unnamed: 11       풍력
Unnamed: 12       수력
Unnamed: 13       해양
Unnamed: 14      바이오
Unnamed: 15      폐기물
기타               NaN
합계               NaN
Name: 0, dtype: object

In [6]:
t = df.iloc[0].dropna()
t = list(t)
t

['연료전지', '석탄가스화', '태양', '풍력', '수력', '해양', '바이오', '폐기물']

In [7]:
t1 = []
for i in range(0, len(df.columns)):
    if 'Unnamed' in df.columns[i]:
        t1.append(df.columns[i])
t1

['Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15']

In [8]:
t2 = []
for i in range(0, len(t)):
    t2.append('신재생_' + t[i])
t2

['신재생_연료전지',
 '신재생_석탄가스화',
 '신재생_태양',
 '신재생_풍력',
 '신재생_수력',
 '신재생_해양',
 '신재생_바이오',
 '신재생_폐기물']

In [9]:
df.columns

Index(['기간', '지역', '원자력', '유연탄', '무연탄', '유류', 'LNG', '양수', '신재생', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', '기타', '합계'],
      dtype='object')

In [10]:
df.columns.get_loc("Unnamed: 15")

15

In [11]:
df.columns.get_loc("신재생")

8

In [12]:
for i in range(df.columns.get_loc("신재생"), df.columns.get_loc("Unnamed: 15")):
    for j in range(0, len(t2)):
        df.rename(columns = {})
df

,기간,지역,원자력,유연탄,무연탄,유류,LNG,양수,신재생,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,기타,합계
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,연료전지,석탄가스화,태양,풍력,수력,해양,바이오,폐기물,NaN,NaN
1,2021/09,합계,32.740077,94.728006,115.703868,213.888207,125.427094,130.291434,96.7323837,97.0709028,98.7403649,101.3614549,109.2927563,93.3066187,150.9736834,0,100.621055,88.371779
2,2021/08,합계,40.967125,99.643992,109.687386,532.428065,141.931066,163.840472,92.6850495,92.7576511,97.9136241,100.6974973,114.3688235,91.6457939,156.942158,0,98.206236,98.448852
3,2021/07,합계,64.284447,99.914346,99.605518,212.504026,121.216983,137.929163,86.1050101,90.2787505,91.089834,92.72835,104.7636151,85.034383,142.752771,0,91.464079,99.198193
4,2021/06,합계,69.586483,91.967982,87.978433,183.701421,101.198998,102.767284,82.1299504,87.5,83.944343,86.6458097,90.9281638,81.2522193,125.5759618,0,18.762667,89.631375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,2002/05,합계,39.371855,41.660467,48.691511,66.755077,75.689799,81.218323,0,0,0,0,58.9023765,0,0,0,NaN,46.039935
234,2002/04,합계,40.299890,41.600401,50.465364,60.490947,73.211908,72.717281,0,0,0,0,56.6115991,0,0,0,NaN,46.265551
235,2002/03,합계,39.351880,42.088690,51.118453,62.854301,74.247935,74.233229,0,0,0,0,60.5903633,0,0,0,NaN,46.546928
236,2002/02,합계,38.932937,42.394581,54.243727,71.515871,79.340000,81.143168,0,0,0,0,60.5317227,0,0,0,NaN,47.347208
237,2002/01,합계,40.212111,41.905286,48.963261,72.521700,79.256818,104.912083,0,0,0,0,67.2300531,0,0,0,NaN,48.750533