In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/한국가스공사_시간별 공급량_20181231.csv', encoding = 'cp949')

In [3]:
df

               연월일  시간 구분       공급량
0       2013-01-01   1  A  2497.129
1       2013-01-01   2  A  2363.265
2       2013-01-01   3  A  2258.505
3       2013-01-01   4  A  2243.969
4       2013-01-01   5  A  2344.105
...            ...  .. ..       ...
368083  2018-12-31  20  H   681.033
368084  2018-12-31  21  H   669.961
368085  2018-12-31  22  H   657.941
368086  2018-12-31  23  H   610.953
368087  2018-12-31  24  H   560.896

[368088 rows x 4 columns]

In [4]:
df.dtypes

연월일     object
시간       int64
구분      object
공급량    float64
dtype: object

In [5]:
t = df['시간'].values
len(t)

368088

In [6]:
df['연월일'] = pd.to_datetime(df['연월일'])

In [7]:
df.isnull().sum()

연월일    0
시간     0
구분     0
공급량    0
dtype: int64

In [8]:
df['시간'].value_counts()

1     15337
2     15337
23    15337
22    15337
21    15337
20    15337
19    15337
18    15337
17    15337
16    15337
15    15337
14    15337
13    15337
12    15337
11    15337
10    15337
9     15337
8     15337
7     15337
6     15337
5     15337
4     15337
3     15337
24    15337
Name: 시간, dtype: int64

In [9]:
df.dtypes

연월일    datetime64[ns]
시간              int64
구분             object
공급량           float64
dtype: object

In [10]:
t1 = pd.to_timedelta(df['시간'], unit='H')
t1

0        0 days 01:00:00
1        0 days 02:00:00
2        0 days 03:00:00
3        0 days 04:00:00
4        0 days 05:00:00
               ...
368083   0 days 20:00:00
368084   0 days 21:00:00
368085   0 days 22:00:00
368086   0 days 23:00:00
368087   1 days 00:00:00
Name: 시간, Length: 368088, dtype: timedelta64[ns]

In [11]:
df['time'] = (
        df['연월일'] + t1
)

In [12]:
df

              연월일  시간 구분       공급량                time
0      2013-01-01   1  A  2497.129 2013-01-01 01:00:00
1      2013-01-01   2  A  2363.265 2013-01-01 02:00:00
2      2013-01-01   3  A  2258.505 2013-01-01 03:00:00
3      2013-01-01   4  A  2243.969 2013-01-01 04:00:00
4      2013-01-01   5  A  2344.105 2013-01-01 05:00:00
...           ...  .. ..       ...                 ...
368083 2018-12-31  20  H   681.033 2018-12-31 20:00:00
368084 2018-12-31  21  H   669.961 2018-12-31 21:00:00
368085 2018-12-31  22  H   657.941 2018-12-31 22:00:00
368086 2018-12-31  23  H   610.953 2018-12-31 23:00:00
368087 2018-12-31  24  H   560.896 2019-01-01 00:00:00

[368088 rows x 5 columns]

In [13]:
df = df.drop(['시간', '연월일'], axis = 1)

In [14]:
df

       구분       공급량                time
0       A  2497.129 2013-01-01 01:00:00
1       A  2363.265 2013-01-01 02:00:00
2       A  2258.505 2013-01-01 03:00:00
3       A  2243.969 2013-01-01 04:00:00
4       A  2344.105 2013-01-01 05:00:00
...    ..       ...                 ...
368083  H   681.033 2018-12-31 20:00:00
368084  H   669.961 2018-12-31 21:00:00
368085  H   657.941 2018-12-31 22:00:00
368086  H   610.953 2018-12-31 23:00:00
368087  H   560.896 2019-01-01 00:00:00

[368088 rows x 3 columns]

In [15]:
df['time'] = pd.to_datetime(df['time'])

In [16]:
df

       구분       공급량                time
0       A  2497.129 2013-01-01 01:00:00
1       A  2363.265 2013-01-01 02:00:00
2       A  2258.505 2013-01-01 03:00:00
3       A  2243.969 2013-01-01 04:00:00
4       A  2344.105 2013-01-01 05:00:00
...    ..       ...                 ...
368083  H   681.033 2018-12-31 20:00:00
368084  H   669.961 2018-12-31 21:00:00
368085  H   657.941 2018-12-31 22:00:00
368086  H   610.953 2018-12-31 23:00:00
368087  H   560.896 2019-01-01 00:00:00

[368088 rows x 3 columns]

In [17]:
df = df[['time', '구분', '공급량']]

In [18]:
df

                      time 구분       공급량
0      2013-01-01 01:00:00  A  2497.129
1      2013-01-01 02:00:00  A  2363.265
2      2013-01-01 03:00:00  A  2258.505
3      2013-01-01 04:00:00  A  2243.969
4      2013-01-01 05:00:00  A  2344.105
...                    ... ..       ...
368083 2018-12-31 20:00:00  H   681.033
368084 2018-12-31 21:00:00  H   669.961
368085 2018-12-31 22:00:00  H   657.941
368086 2018-12-31 23:00:00  H   610.953
368087 2019-01-01 00:00:00  H   560.896

[368088 rows x 3 columns]

In [19]:
# df.groupby['구분'].apply(lambda x: \
#                      df.sort_values(by = 'x'))

In [20]:
df = df.groupby(['구분']) \
    .apply(lambda group:
          group.sort_values(by = 'time', axis = 0, inplace = False, ignore_index = True))

In [21]:
df.drop(['구분'], axis = 1, inplace = True)

In [22]:
df.dtypes

time    datetime64[ns]
공급량            float64
dtype: object

In [23]:
df

                        time       공급량
구분
A  0     2013-01-01 01:00:00  2497.129
   1     2013-01-01 02:00:00  2363.265
   2     2013-01-01 03:00:00  2258.505
   3     2013-01-01 04:00:00  2243.969
   4     2013-01-01 05:00:00  2344.105
...                      ...       ...
H  52579 2018-12-31 20:00:00   681.033
   52580 2018-12-31 21:00:00   669.961
   52581 2018-12-31 22:00:00   657.941
   52582 2018-12-31 23:00:00   610.953
   52583 2019-01-01 00:00:00   560.896

[368088 rows x 2 columns]

In [24]:
df.reset_index(level= 0, inplace = True)

In [25]:
df.drop(['level_1'], axis = 1, inplace = True)

KeyError: "['level_1'] not found in axis"

In [ ]:
df

In [ ]:
df.sample(20).sort_index()

In [ ]:
from datetime import datetime

# .resample 코드 
df_1M = df['time'].resample('1M')
df_1M

In [ ]:
df.to_csv('시간별 공급량_서기환.csv', encoding = 'cp949', index = False)

In [ ]:
df['구분'].value_counts()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# Define data values
x = [7, 14, 21, 28, 35, 42, 49]
y = [5, 12, 19, 21, 31, 27, 35]
z = [3, 5, 11, 20, 15, 29, 31]

# Plot a simple line chart
plt.plot(df['time'], df[])

# Plot another line on the same chart/graph
plt.plot(x, z)

plt.show()

In [ ]:
for i in range(ord('A'), ord('H')):
    if df['구분']

In [ ]:
for i in range(0, 10):
    i = i + 1

In [ ]:
i

In [ ]:
a, b, c, d, e, f, g, h = [], [], [], [], [], [], [], []
tt = df['공급량']
for i in range(0, 52584):
    a.append(df['공급량'].iloc[i])

In [ ]:
for i in range(i, i + 52584):
    b.append(df['공급량'].iloc[i])

In [ ]:
for i in range(i, i + 52584):
    c.append(df['공급량'].iloc[i])

In [ ]:
for i in range(i, i + 52584):
    d.append(df['공급량'].iloc[i])

In [ ]:
for i in range(i, i + 52584):
    e.append(df['공급량'].iloc[i])

In [ ]:
for i in range(i, i + 52584):
    f.append(df['공급량'].iloc[i])

In [ ]:
for i in range(i, i + 52584):
    g.append(df['공급량'].iloc[i])

In [ ]:
for i in range(i, i + 52584):
    h.append(df['공급량'].iloc[i])